.aboutPage {
    background-color: #fff;
    height: 100%;
    width: 100%;

    .aboutPageTitle {
        font-family: "Raleway", sans-serif;
        font-size: 40px;
        font-weight: 700;
        color: #000;
        padding: 20px 40px;
        border-bottom: 2px solid #000;
    }

    .aboutPageContent {
        padding: 20px 40px;

        .description {
            font-family: "Poppins", sans-serif;
            font-size: 15px;
            font-weight: 400;
            color: #000;
            text-align: justify;
        }
    }

    .information {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        img {
            width: 30%;
            border-radius: 10px;
        }
        
        .detail {
            width: 70%;
            margin-left: 20px;
            
            .title {
                font-family: "Raleway", sans-serif;
                font-size: 24px;
                font-weight: 700;
                color: #000;
            }

            .subtitle {
                font-family: "Poppins", sans-serif;
                font-size: 15px;
                font-weight: 400;
                color: #000;
            }

            .contact {
                display: flex;
                justify-content: space-between;
                
                .contactItem {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    span {
                        font-family: "Poppins", sans-serif;
                        font-size: 15px;
                        font-weight: 600;
                        color: #000;
                        display: block;
                    }

                    p {
                        font-family: "Poppins", sans-serif;
                        font-size: 15px;
                        font-weight: 400;
                        color: #000;
                    }
                }
                
            }
        }
        
    }

    .advertisement {
        margin-top: 50px;
        display: flex;
        gap: 20px;
        
        .advertisementItem {
            display: flex;
            align-items: center;
            font-family: "Poppins", sans-serif;
            gap: 5px;

            img {
                width: 80px;
                height: 80px;
            }
        }
    }
}